*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.go-top-container{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background:#29c3b0;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #ffff;
    transition: .2s;
}


.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }

    100%{
        width: 4rem;
        height: 4rem;
    }
}