  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}



header li{
    list-style: none;
}

header a{
    text-decoration: none;
    color: #101010;
    font-size: 14px;
    font-weight: 600;
}
header a:hover{
    color:#29c3b0;
}

header{
    position: relative;
    background-color: #ebebeb;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 13px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo img{
    width: 50px;
    height: 50px;
    display: flex;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    margin-left: 600px;
    
}

.navbar .toogle_btn{
    color: #101010;
    font-size: 14px;
    cursor: pointer;
    display: none;
    font-weight: 600;
}

.action_btn{
    background-color: #df8e4f;
    color:#ffff;
    padding: 0.5rem 4rem ;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #ffff;
}

.action_btn:active{
    scale: 0.95;
}

/* dropdown menu*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 85px;
    height: 0;
    width: 360px;
    background: #ebebeb ;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}


.dropdown_menu.open{
    height: 190px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}




/* RESPONSIVE DESIGN*/

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toogle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

}
 
/* RESPONSIVE DESIGN DEL MENU HAMBURGUESA*/

@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }


}
